{% extends view('app') %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enviar Nota Fiscal</h3>
                    </div>
                    <div class="panel-body">

                        {% if entrada.file == null %}
                        <form role="form" action="/entrada/enviar-nf" method="post" enctype="multipart/form-data">

                            <input type="hidden" name="id" value="{{ entrada.id }}">
                            <div class="form-group">
                                <label class="control-label" for="2">
                                    NF
                                </label>
                                <input required class="form-control" id="2" placeholder="" name="file" type="file">
                            </div>


                            <button type="submit" class="btn btn-primary">
                                Enviar
                            </button>
                            {% else %}
                                <a href="/entrada/download-nf?id={{ entrada.id }}" class="text-center">
                                    <img src="{{ assets('images/nf.png') }}" width="150px" height="150px">
                                </a>
                                <a href="/entrada/deletar-nf?id={{ entrada.id }}" class="btn btn-danger pull-right">
                                    Deletar
                                </a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

{%  endblock %}