{% extends view('app') %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Licença | Editar <a href="/licenca/serial/por_licenca?id={{ licenca.id}}" class="fa fa-plus pull-right"></a></h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/licenca/atualizar" method="post">

                        <input type="hidden" name="id" value="{{ licenca.id }}">
                        <div class="form-group">
                            <label class="control-label" for="2">
                                Nome
                            </label>
                            <input class="form-control" id="2" placeholder="" name="nome" type="text" value="{{ licenca.nome }}">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Gravar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}